preparecommit
core/local.config.php
core/logs/*
core/pages/*
core/cache/*
core/local.config.php
core/logs/*
lib/signatures/*
lib/avatars/*
lib/rss/*
lib/rss/latestpireps.rss
tests/*
tests/Tests/**
tests/utils/*
nbproject/